{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Страница логина</title>
</head>
<body>

<div class="login-container">
    <h2>Вход</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="submit" value="Войти">
    </form>
    <a href="{% url 'register' %}" class="register-link">Зарегистрироваться</a>
</div>

</body>
</html>